@import "custom-variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";


@include media-breakpoint-down(lg) {
    :root{
        --bs-body-font-size: calc(1rem + 0.3vw);
    }
    .navbar {
        padding: 1rem .5rem;
        .logo {
            img {
                max-width: 5rem;
            }
        }
        .navbar-toggler-icon {
            width: 1em;
            height: 1em;
            display: block;
        }
    }

    .main-header {
        .navbar {
            .nav-link {
                margin: .625rem .375rem;
                padding: .5rem;
            }
            .dropdown-menu {
                border-radius: $border-radius-xl;
                .dropdown-item {
                    white-space: normal;
                    padding: .5rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    
    .logo {
        img {
            max-width: 6.25rem;
        }
    }
}

:focus {
    border-width: $focus-border-width;
    border-style: $focus-border-style;
}

@mixin outline{
    outline: 2px dashed;
    outline-offset: 4px;
}

a:focus-visible,
a:focus,
a:hover {
    text-decoration: underline;
}
a {
    border: $focus-border-width $focus-border-style transparent;
    &:focus, &:hover {
        border-color: $white;
        @include outline();
    }
    transition: $btn-transition;
}

.light-outline-color {
    &:focus, 
    &:hover {
        outline-color: $light-outline-color;
    }
}

.go-back {
    font-size: 1rem;
    color: $white;
    display: inline-block;
    font-weight: $font-weight-semibold;
    text-decoration: none;
    border-radius: 2rem;
    padding-right: 1rem;
}

.btn {
    &.btn-outline-light {
        --bs-btn-hover-color: #{$white};
        --bs-btn-hover-bg: transparent;
        --bs-btn-active-bg: transparent;
        --bs-btn-active-color: #{$white};
    }
    &.btn-light-primary {
        --bs-btn-color: #{$primary};
        --bs-btn-bg: #{$white};
        --bs-btn-hover-color: #{$primary-hover};
        --bs-btn-hover-bg: #{$white};
        --bs-btn-hover-border-color: #{$primary-hover};
        &:focus, &:hover{
            outline-color: $light-outline-color;
        }
    }
    &.btn-primary {
        --bs-btn-hover-border-color: #{$white};
        --bs-btn-active-border-color: #{$white};
    }
    &:focus-visible,
    &:focus,
    &:hover {
        border-style: $focus-border-style;
        text-decoration: underline;
        @include outline();
        &.btn-primary { 
            outline-color: $dark-outline-color;
        }
    }
}

button:focus:not(:focus-visible) {
    @include outline();
    outline-color: $dark-outline-color;
}

.border-hover-primary:hover,
.border-hover-primary:focus-visible,
.border-hover-primary:focus {
    cursor: pointer;
    border-color: $primary;
    border-style: $focus-border-style;
    border-width: $focus-border-width;
    @include outline();
    outline-color: $dark-outline-color;
}

.space-lg-3x {
    padding: $space-lg-3x;
    @include media-breakpoint-down(lg) {
        padding: 2rem 1rem;
    }
}
.space-lg-4x {
    padding: $space-lg-4x;
    @include media-breakpoint-down(lg) {
        padding: 3rem 1rem;
    }
}

.dropdown-menu {
    backdrop-filter: blur(80px);
    box-shadow: 0px 20px 30px 0px #00000033;
    background: linear-gradient(90deg, rgba(82, 23, 23, 0.8) 0%, rgba(41, 16, 67, 0.8) 78.85%, rgba(103, 70, 101, 0.8) 98.57%);

    .dropdown-item {
        margin: 0 .25rem;
        text-decoration: none;
        font-weight: 700;
        border-radius: 2rem;
        width: auto;

        &:hover,
        &:focus,
        &:active {
            outline-offset: 0;
            outline-width: 1px;
            border: none;
            background: none;
        }
    }
}

.dropdown-toggle {
    &::after {
        width: .625rem;
        height: .625rem;
        border-top: 0;
        border-right: 0;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
        margin-left: .375rem;
    }
}

header {
    position: relative;
    z-index: 100;
}

.navbar-toggler {
    padding: 0;
    border: none;

    &:focus {
        @include outline();
        outline-color: $white !important;
        box-shadow: none;
    }
}

.main-header {
    //background-image: url(../images/banner.jpg);
    //background-size: cover;
    //background-position: top center;
    .bg-header-gradient {
        border-radius: $border-radius-xxl;
        background: linear-gradient(90deg, rgba(82, 23, 23, 0.8) 0%, rgba(41, 16, 67, 0.8) 78.85%, rgba(103, 70, 101, 0.8) 98.57%);
        box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
        border: 1px solid;
        border-image-source: linear-gradient(90.56deg, rgba(255, 255, 255, 0) 0.07%, rgba(221, 200, 242, 0.5) 20.54%, rgba(255, 255, 255, 0) 99.93%);
        @include media-breakpoint-down(lg) {
            border-radius: $border-radius-xl;
        }
    }
    position: relative;
    z-index: 1;
    &::before {
        background: linear-gradient(180deg, rgba($gradient1, 1) 0%, rgba($gradient2, 1) 100%);
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.9;
    }
    .nav-link {
        // border: none;
        font-size: 1rem;
        padding-top: .75rem;
        padding-bottom: .75rem;
        margin: .875rem .25rem;
        font-weight: 700;
        text-decoration: none;
        color: $white;
        border-radius: 2rem;

    }
}
.bg-gradient {
    background: linear-gradient(90deg, $gradient1 0%, $gradient2 100%) !important;
}
small,
.small {
    font-size: 1rem;
}
.x-small {
    font-size: 0.75rem;
}
.youtube-video {
    .youtube-btn {
        width: 4.75rem;
        height: 4.75rem;
    }
    img {
        object-position: 0 75%;
    }
}

.featured-list {
    li:nth-child(odd):before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        @extend .bg-gradient;
        width: 1px;
        top: 0;
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    li:after {
        margin-bottom: -2rem;
        margin-top: 2rem;
        height: 1px;
        content: "";
        display: block;
        @extend .bg-gradient;
        @include media-breakpoint-down(lg) {
            margin-bottom: 0;
            margin-top: 1.5rem;
        }
    }
    li:nth-last-child(2){
        &::after {
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }
    li:nth-last-child(1) {
        &::after {
            display: none;
        }
    }
}
.list-check-styled {
    list-style: none;
    li {
        background: url(../images/check.svg) left top no-repeat;
        padding-left: 3.25rem;
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
    }
}
.member-photo:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    border-radius: 0 0 400px 400px;
    background: linear-gradient(180deg, rgba(210, 65, 65, 0.00) 25%, $gradient2 90%);
}
/*.google-map {
    filter: grayscale(1);
}*/
.form-floating {
    label {
        font-size: 1rem;
    }
}
@include media-breakpoint-down(lg) {
    .half-logo {
        max-width: 12rem;
    }
    .shape-logo {
        max-width: 4rem;
    }
    .logo {
        max-height: 4rem;
    }
}

.partners,
.performances {
    img {
        max-width: 100%;
        width: 16rem;
    }
}

.top-certifications {
    img {
        max-width: 100%;
        width: 8rem;
        @include media-breakpoint-down(lg) {
            width: 5rem;
        }
    }
}

.max-content {
    width: max-content;
}

textarea {
    &.form-control {
        .form-floating & {
            min-height: calc($input-height * 2);
        }
    }
}

.form-control {
    &:focus {
        @include outline();
        outline-color: $dark-outline-color;
    }
}

h2, .h2 {
    font-weight: $font-weight-semibold;
}

.banner-shape-logo {
    top: -7.5rem;
}

.nav-link {
    border: $focus-border-width $focus-border-style transparent;
    &:focus-visible {
        @include outline();
    }
}